<!DOCTYPE html>
<html>

  <head>
    <title>EEE-Visitors</title>
  </head>
  
  <body>
    <h1 id="contentheading">Eminent Visitors to the Department</h1>
	<p><font size="2">Following is a brief list of&nbsp;Eminent&nbsp;Persons&nbsp;who have been visiting the Department.</font></p>
	<ul>
    <li><font size="2">Prof.B.J.Chalmers, University of Manchester, UK. </font></li>
    <li><font size="2">Prof. Eccles, IEEE distinguished visitor programme from USA </font></li>
    <li><font size="2">Prof. Jenkins, University of Manchester, UK.&nbsp; (1994) </font></li>
    <li><font size="2">Prof. Amara, Paris Institute of Technology (ISEP), France. </font></li>
    <li><font size="2">S.S.Murthy, professor, IIT, New Delhi&nbsp; (2002) </font></li>
    <li><font size="2">Dr. M. Ramamoorty, Director (Rtd), ERDA, Vadodara&nbsp; (1995) </font></li>
    <li><font size="2">Mr. Janakiraman, Co-founder, Mindtree consultants&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font></li>
    <li><font size="2">Mr. R. Venkat Rajendran, Chairman &amp; CEO of Billion ways&nbsp; Consultancy Pvt. Ltd. </font></li>
    <li><font size="2">Mr. C. Srinivasan, Vice &ndash; President of Cosmic Circuits (2007) </font></li>
    <li><font size="2">Mr. Subramaniam Vincent, Editor &amp; Co &ndash; founder, India Together (2007) </font></li>
    <li><font size="2">Mr. Sanal Edamaruku, President, Indian Rationalist Assoication (2007) </font></li>
    <li><font size="2">Dr. V. T. Ranganathan, Professor , EE Dept., IISC, Bangalore&nbsp;&nbsp; (2006, 2008) </font></li>
    <li><font size="2">Dr. Rajiv Kumar Varma,Associate Professor,Department of&nbsp;&nbsp; ECE, University of&nbsp; Western Ontario, Canada&nbsp; (20th &ndash; 31st August 2007) </font></li>
    <li><font size="2">&nbsp;Dr.S.Bhattacharya, Professor, Univ. of Texas A &amp; M, USA </font></li>
    <li><font size="2">&nbsp;Dr. V.Ramanarayanan, Professor , EE Dept., IISC, Bangalore (2007, 2008) </font></li>
    <li><font size="2">&nbsp;Dr. Ravindra Karnad, TI, Bangalore&nbsp; (2007) </font></li>
    <li><font size="2">&nbsp;Mr. Pradip Thaker, Analog Devices, Bangalore&nbsp; (2007) </font></li>
    <li><font size="2">&nbsp;Mr. Sankaralingam, CMD, NTPC&nbsp; (2007) </font></li>
    <li><font size="2">&nbsp;Mr. Raja Gounden, Chairman, ICF (retd)&nbsp;&nbsp;&nbsp;&nbsp; </font></li>
    <li><font size="2">&nbsp;Prof. M. Ravindran, RUTIG, IIT Madras, Chennai&nbsp; (2008) </font></li>
    <li><font size="2">&nbsp;Mr.R.Chellappan, Numeric power system, Chennai&nbsp;&nbsp; (2006, 2008) </font></li>
    <li><font size="2">&nbsp;Dr. Jagadeesh Kumar, HOD/ Electrical Engg., IIT Madras, Chennai&nbsp; (2008) </font></li>
    <li><font size="2">&nbsp;Dr. K.Radhakrishna Rao, TI, Bangalore&nbsp; (2004) </font></li>
    <li><font size="2">&nbsp;Dr. P.K. Soundararajan, Cosmic Circuits, Bangalore&nbsp; (2008) </font></li>
	</ul>	
    <div>
      <a href="top3.html"> Back </a>
      <br>
      <a href="index.html"> NITT </a>
      <br>
    </div
  </body>
  
</html> 
