<!DOCTYPE html>
<html>

  <head>
    <title>EEE-Symposium</title>
  </head>
  
  <body>
  	<link rel="prefetch" href="{{add}}" />  
    <h1>Currents</h1>
	<p>The departments conducts an annual international technical symposium every even semester. Christened CURRENTS it  provides the students with an opportunity to sense the emerging currents in the industry.

	Past editions have set the benchmarks for events of its kind everywhere. And we are ready to scale new peaks this year. CURRENTS'12will be an event you just cannot afford to miss.</p>
	<a href="currents.nitt.edu">Currents</a>
	<br><br>
    <div>
      <a href="top3.html"> Back </a>
      <br>
      <a href="index.html"> NITT </a>
      <br>
    </div
  </body>
  
</html> 
