<!DOCTYPE html>
<html>

  <head>
    <title>CHE - Symposium</title>
  </head>
  
  <body>
  	<link rel="prefetch" href="{{add}}" />  
    <h1>Alchemy</h1>
	<p>ALCHEMY ... the infant stage of chemistry. Its chief aim being to transmute metals into gold and to discover the elixir of life.
	In this revolutionary world of Chemical Engineering, the significance of this word is unparalleled.
	In todays competitive world, where new technologies are developed daily, new vistas are explored, new domains are established. Only the BEST survive!
	Welcome, my dear friends to ALCHEMY. A two day technical extravaganza where you shall face challenges that will push you to the limits. Test your forte against the representatives from the leading institutions across the nation. Since only the best survive, do you have it in you?</p>
	<br><br>
    <div>
      <a href="top1.html"> Back </a>
      <br>
      <a href="index.html"> NITT </a>
      <br>
    </div
  </body>
  
</html> 
