<!DOCTYPE html>
<html>

  <head>
    <title>CSE-Vortex</title>
  </head>
  
  <body>
  	<link rel="prefetch" href="{{add}}" />  
    <h1>Vortex</h1>
	<p>The Computer Science and Engineering Association hosts an annual national level technical symposium Vortex. It has been providing a platform for the budding software engineers from across the country to display their prowess in the various fields of computing. The theme for 2007 was Genetic and Parallel Computing.</p>
	<a href="http://www.vortex.org.in/">Vortex</a>
	<br><br>
    <div>
      <a href="top4.html"> Back </a>
      <br>
      <a href="index.html"> NITT </a>
      <br>
    </div
  </body>
  
</html> 
