<!DOCTYPE html>
<html>

  <head>
    <title>Chemical Engineering</title>
  </head>
  
  <body>
  	<link rel="prefetch" href="{{add}}" />  
    <h1>Chemical Engineering</h1>
	<p>Established in 1968, the Department of Chemical Engineering,NIT Trichy is regarded as one of the premier centers for Chemical Engineering in India by industries as well as academia. The National Board of Accreditation (NBA) has granted all PG courses offered by the department, the A(+3) certification for 3 years, the topmost any department can aspire to get. It also has the distinction of being ranked as one of the top seven Chemical Engineering divisions in India by Chemical Engineering Faculties. It offers a B.Tech programme and M.Tech programme in Energy Engineering, Plant Design and Process Controls & Instrumentation.</p>
    <h2>Links -</h2>
    <div>
      <a href="page0.html"> Symposium </a>
      <br>
      <a href="page1.html"> Conferences </a>
      <br>
      <a href="page8.html"> Scholarships </a>
      <br>
      <a href="page9.html"> Time Table </a>
      <br>
      <a href="index.html"> NITT </a>
      <br>
    </div
  </body>
  
</html> 