<!DOCTYPE html>
<html>

  <head>
    <title>Mechanical Engineering</title>
  </head>
  
  <body>
    <h1>Mechanical Engineering</h1>
	<p>One among the first three departments to be established in 1964 in the institute, the Mechanical Engineering Department of NITT has had the reputation of being among the finest in the country and is dedicated towards the advancement of technology and science.</p>
    <h2>Links -</h2>
    <div>
      <a href="page2.html"> Symposium </a>
      <br>
      <a href="page3.html"> Workshops </a>
      <br>
      <a href="page8.html"> Scholarships </a>
      <br>
      <a href="page9.html"> Time Table </a>
      <br>
      <a href="index.html"> NITT </a>
      <br>
    </div
  </body>
  
</html> 