<!DOCTYPE html>
<html>

  <head>
    <title>Electrical and Electronics Engineering</title>
  </head>
  
  <body>
  	<link rel="prefetch" href="{{add}}" />  
    <h1>Electrical and Electronics Engineering</h1>
	<p>The Department of Electrical and Electronics Engineering, NIT, Tiruchirappalli was started in the year 1964. It offers one Under-Graduate programme (B.Tech.), two Post-Graduate programmes (M.Tech. in Power Systems and Power Electronics) and also research programmes (M.S. and Ph.D.) in the various fields of Electrical and Electronics Engineering. After the institute became NIT, the department has grown not only in terms of student and faculty strength, but also in improving the laboratory facilities for the teaching and research purposes. Thus, the department has dedicated and state of the art teaching / research laboratories. The department is recognized for excellence in research (First Department in NIT-T to be accorded QIP status for Ph.D. programe), teaching and service to the profession.</p>
    <h2>Links -</h2>
    <div>
      <a href="page4.html"> Symposium </a>
      <br>
      <a href="page5.html"> Visitors </a>
      <br>
      <a href="page8.html"> Scholarships </a>
      <br>
      <a href="page9.html"> Time Table </a>
      <br>
      <a href="index.html"> NITT </a>
      <br>
    </div
  </body>
  
</html> 