<!DOCTYPE html>
<html>

  <head>
    <title>Computer Science and Engineering</title>
  </head>
  
  <body>
  	<link rel="prefetch" href="{{add}}" />  
    <h1>Computer Science and Engineering</h1>
	<p>The Department of Computer Science and Engineering with its cohesive team of faculty members, offers a sound program at the UG as well as the PG levels. The curriculum is a blend of the conventional and theradical. It is updated regularly to keep up with the growing demands and the changing trends of the software industry and research laboratories. Core courses include Programming Languages, Computer Architecture,System Software, Networking Technologies and Artificial Intelligence. </p>
    <h2>Links -</h2>
    <div>
      <a href="page6.html"> Symposium </a>
      <br>
      <a href="page7.html"> Conferences </a>
      <br>
      <a href="page8.html"> Scholarships </a>
      <br>
      <a href="page9.html"> Time Table </a>
      <br>
      <a href="index.html"> NITT </a>
      <br>
    </div
  </body>
  
</html> 